body {
    width: 100vw;
    height: 100vh;
    margin-top: 4vmin;
    margin: 3px;
    padding: 3px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/underwater-bg.jpg");
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
    background-size: cover;
}
  
header {
    font-size: 8vmin;
    margin-top: 4vmin;
    color: rgb(59, 66, 102);
    letter-spacing: 1vmin;
    font-family: 'Castoro Titling', cursive;
}
  
#flamingText {
    color: rgb(59, 66, 102);
    text-shadow: #9EC2FF 0 -1px 4px, #7B9FF2 0 -2px 10px, #4259C3 0 -10px 20px, #212AA5 0 -18px 40px;
}
  
#payline {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
  
.slots {
    display: flex;
}
  
.slot {
    width: 130px;
    height: 140px;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    margin: 8px;
    background: rgb(57, 149, 172);
    box-shadow: black 5px 5px 10px 5px;
    border: 1px lightgrey;
}
  
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); 
}
  
.squares {
    transition: transform 1s ease-in-out;
}
  
button {
    cursor: pointer;
    border: 0.2vmin solid lightgrey;
    background: #809fe8;
    color: rgb(48, 42, 63);
    border-radius: 0.5vmin;
    padding: 0.75vmin;
    font-size: 3vmin;
    font-family: 'Castoro Titling', cursive;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    margin-top: 3vmin;
    box-shadow: black 5px 5px 10px 5px;
}
  
button:hover {
    color: white;
    background-image: linear-gradient(to right, #9EC2FF 0%, #4259C3 50%, rgb(59, 66, 102) 100%);
    transition: background-color 100ms ease-in;
}
  
.buttons {
    margin-right: 15px;
}
  
#result {
    font-size: 4vmin;
    letter-spacing: 1vmin;
    font-family: 'Castoro Titling', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-25%, -25%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}